/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--primary-font-family);
  font-variation-settings: "wght" var(--primary-font-weight, 400);
  font-size: var(--primary-font-size);
  color: var(--primary-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  margin: 100px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.block-wrapper {
  inline-size: var(--block-wrapper-width);
}

.header {
  font-family: var(--accent-font-family);
  background-color: var(--bg-color);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  padding: clamp(7.625rem, 2.462vw + 7.048rem, 8.125rem) 0;
  margin-block-end: clamp(94px, 100px + (94 - 100) * (100vw - 375px) / (1440 - 375), 100px); /* Формула для расчета margin-block-end */
}

.header__logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.card {
  background-color: var(--bg-color);
}

.card__title {
  font-size: var(--primary-font-size);
  font-variation-settings: "wght" var(--accent-font-weight, 700);
  border: 2px solid currentColor;
  padding: 4px 10px;
}

.card__image-wrapper {
  position: relative;
  min-inline-size: 371px;
  border-inline: 2px solid currentColor;
}

.card__label {
  position: absolute;
  z-index: 100;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px solid var(--text-stroke-color)) or (text-stroke: 1px solid var(--text-stroke-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__text-block {
  display: flex;
  flex-direction: column;
  border: 2px solid currentColor;
  padding: 25px;
  gap: 25px
}

.button {
  font-size: var(--secondary-font-size);
  font-family: var(--accent-font-family);
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}

.text-button {
  position: relative;
  line-height: 0.9;
  border: 2px solid currentColor;
  transition: box-shadow 0.3s ease;
}

.text-button::before {
  content: '';
  background-color: var(--primary-color);
  transform: scaleX(0);
  position: absolute;
  inset: 0;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.text-button:hover::before {
  transform: scaleX(1);
}

.button:focus,
.text-button:focus {
  outline: none;
}

.text-button:focus-visible {
  box-shadow: 2px 2px currentColor;
}

.text-button .button__text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 100;
  color: var(--bg-color);
}

.card__buttons-wrapper {
  display: flex;
  gap: 6px;
  justify-content: end;
  align-items: center;
}

.card__like-button {
  min-block-size: 38px;
  min-inline-size: 130px;
}

.card__icon-button {
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid currentColor;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .main-body {
  fill: var(--primary-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--primary-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.floppy-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  background-color: var(--bg-color);
  @media (width <= 375px) {
    flex-direction: column;
  }
}

.floppy-close {
  inline-size: 100%;
  padding-block: 12.5px;
  text-transform: uppercase;
}

.floppy-popup {
  line-height: 1.5;
  border: 2px solid currentColor;
  text-transform: uppercase;
  font-size: var(--secondary-font-size);
  padding: 30px clamp(30px, 50px - 1.5vw, 40px);
  font-family: var(--accent-font-family);
  inline-size: var(--floppy-popup-width);
}

.floppy-icon {
  flex-shrink: 0;
}

.floppy-button .floppy-icon {
  @media (width <= 375px) {
    inline-size: 28px;
    block-size: 28px;
  }
}

.text-button .floppy-icon {
  position: relative;
  mix-blend-mode: difference;
  color: var(--bg-color);
}

.floppy-popup__text-wrapper {
  display: flex;
  gap: 20px;
  margin-block-end: 30px;
  align-items: center;
}

.floppy-popup[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.page:has(.floppy-popup[open]) {
  overflow: hidden;
}

.filter-brightness {
  filter: brightness(70%);
}

.filter-contrast {
  filter: contrast(90%);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-saturate {
  filter: saturate(120%);
}

.filter-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-invert {
  filter: invert(100%);
}