/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --primary-font-family: 'Inter', sans-serif;
    --accent-font-family: 'PressStart2P', monospace;
    --primary-color: #000;
    --primary-font-size: 18px;
    --secondary-font-size: 14px;
    --text-stroke-color: #fff;
    --primary-font-weight: 410;
    --accent-font-weight: 710;
    --bg-color: #fff;
    --block-wrapper-width: clamp(375px, 100%, 700px);
    --floppy-popup-width: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
    --bg-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
                repeating-linear-gradient(to bottom, #e7e7e7 0.1%, #1a1a1a);
    --animation-fill-color: #ff0000; 
<<<<<<< HEAD
=======

>>>>>>> d32086080e077ad37665857db2597dd3f2ec9b09
    --contour-color: #000;
}